.App {
  text-align: center;
  background-image: url("images/poke-wall.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 635px;
}

.App-logo {
  width: 280px;
  height: 130px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.App-header {
  background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); 
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

input.poke-search{
  width: 200px;
  height: 25px;
  margin-left: 10px;
  text-align: center;
  border-color: #a6a6a6;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #cc0000;
  cursor: pointer;
}

.btn-search{
  width: 80px;
  height: 37px;
  padding: 8px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  background-color: #cc0000;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Pokedex-container{
  height: 460px;
  width: 300px;
  margin-left: 8px;
  margin-top: 5px;
}

.Pokedex-search{
  width: 350px;
  height: 460px;
  background-color: #4d4d4d;
  position: absolute;
  border-radius:3px;
  opacity: 0.9;
}

.Pokedex-data{
  width: 630px;
  height: 460px;
  position: absolute;
  margin-left: 355px;
  border-radius:3px;
  opacity: 0.9;

  background-image: url("images/pika-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 630px 460px;
}

.Pokedex-note{
  width: 360px;
  height: 460px;
  background-color: #adebeb;
  position: absolute;
  margin-left: 990px;
  border-radius:3px;
  opacity: 0.8;
}

